---
layout: splash
author_profile: true

header:
  overlay_color: "#FFF"
  overlay_filter: "0.1"
  overlay_image: /assets/img/splash.jpg
  caption: "Foto oleh Rodion Kutsaev di Unsplash"

intro: 
  - excerpt: 'Saya adalah seorang mahasiswa jurusan matematika semester empat di Institut Teknologi Bandung. Sembari maju menjadi calon wakil ketua divisi penelitian, saya mencoba untuk aktif dalam membagikan solusi permasalahan disekitar saya. Di bawah ini adalah beberapa hal yang pernah maupun yang sedang saya kerjakan:'

repo_good:
  - image_path: /assets/img/web-teliti.jpeg
    alt: "web-teliti"
    title: "Web Penelitian"
    excerpt: "Membuat website untuk divisi penelitian himpunan."

  - image_path: /assets/img/gempa.jpeg
    alt: "OlahGempa"
    title: "Olah Gempa"
    excerpt: "Membuat visualisasi interaktif dan statistika deskripsi terkait gempa di Indonesia"

  - image_path: /assets/img/SMSGateway.jpeg
    alt: "SMS Gateway"
    title: "SMS Gateway"
    excerpt: "Ide saya membuat SMS Gateway untuk menerima chat sosmed ke ponsel fitur Nokia"   

  - image_path: /assets/img/bot.jpeg
    alt: "botline"
    title: "Bot Belajar"
    excerpt: "Bukanlah grup LINE lebih baik kalau ada bot seperti di Telegram?"   

  - image_path: /assets/img/matutor.jpeg
    alt: "materi tutor"
    title: "Materi Tutorial"
    excerpt: "Usaha membuat tutorial dari mata kuliah yang sudah/sedang saya ambil."   

---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="repo_good" %}
