<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
<p>Hello. My name is Agapitus Keyka Vigiliant, currently studying as a mathematics student at ITB. In my studies, I like computational topics (such as Numerical Mathematics, Simulation and Mathematical Computation, as well as Linear Algebra and Introduction to Optimization). In my free time, I like to spend time listening to music, reading management books, or just relaxing. But if I get bored, I often make projects to satisfy curiosity, [sometimes] as well as <i>proof of concept</i> to my friends that nothing is impossible. </p>

<p> In the future, I hope to learn more things, and be able to work together to make something useful for others. </p>
</div>
